<br>
<br>
<div class="footer container-fluid">
  <div class="container">
  <br>
    <div class="row">
      
      <div class="col-sm-3">
        <div class="box">
          <p>{{ site.description }}</p>
          <p><a href="mailto:{{ site.email }}">Get In Touch</a></li></p>
          <p>416.400.8493</p>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="box">
          <ul class="list-unstyled list-spaced">
            {% if site.instagram_username != null %}
            <li><a target="_blank" href="https://www.instagram.com/{{site.instagram_username}}"><i class="fa fa-instagram" aria-hidden="true"></i></i>&nbsp;&nbsp;Instagram</a></li>
            {% endif %}
          </ul>
        </div>
      </div>

      <div class="col-sm-3 address box">
        <p><small>Billing Address</small></p> 
        <p>21 Clinton Street</p>
        <p>Toronto ON M6J 2N9</p>
        <br>
        <p><small>Shop Address</small></p>
        <p>388 Carlaw Ave. Unit 104D</p>
        <p>Toronto ON M4M 2T4</p>
      </div>
      
      <div class="col-sm-3">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p class="copyright pull-right">&#169; {{ site.time | date: '%Y' }} {{ site.title }}</p>
      </div>

    </div>
  </div>
</div>






