
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="nav-shell">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed p-x-0" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/bootstrap-logo.png" alt="{{ site.title}}"  width="150" height="50">
          
        </a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          {% for my_page in site.pages %}
            {% if my_page.active != false %}
            {% if my_page.title %}
            <li>
              <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title | upcase }}</a>
            </li>
            {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </div><!--/.nav-collapse -->
      <div class="grid row">
        <div class="item col-xs-12 col-sm-9 col-md-6">
          <h1>Toronto's Creative Contractor</h1>
          <h2>We provide Construction Management and General Contracting for businesses with unique projects</h2>
          <br>
        </div>
      </div>
    </div>
  </div>
</nav>


